<div  class="container mx-auto mt-5">
    <div *ngFor="let sufferer of sufferers" class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{sufferer.suffererName}} {{sufferer.suffererLastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{sufferer.city.cityName}} {{sufferer.district.districtName}}</h6>
      <p class="card-text">{{sufferer.suffererAddress}}</p>
         <button class="btnn mr-2"><i class="fas fa-link"></i> Durumu Değiştir</button>

        
    </div>
    </div>
    </div>

    <div class="col-md-4">
        <h3>Bildiren Kişi</h3>
        <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{sufferer.reporter.reporterName}} {{sufferer.reporter.reporterLastName}}</h5>
      <p class="card-text">{{sufferer.reporter.reporterPhone}}</p>
    </div>
    </div>
    </div>
    <div *ngIf="isFounder" class="col-md-4">
        <h3>Bulan Kişi</h3>
        <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{sufferer.founder.founderName}} {{sufferer.founder.founderLastName}}</h5>
      <p class="card-text">{{sufferer.founder.founderPhone}}</p>
    </div>
    </div>
    </div>
  </div>
    </div>