
<div class="container mt-4">

<table class="table table-primary table-hover border border-primary">
    <thead>
      <tr>
        <th scope="col">İsim</th>
        <th scope="col">Soyisim</th>
        <th scope="col">İl</th>
        <th scope="col">İlçe</th>
        <th scope="col" colspan="2">Durum</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sufferer of sufferers">
            <td>{{sufferer.suffererName}}</td>
            <td>{{sufferer.suffererLastName}}</td>
            <td>{{sufferer.city.cityName}}</td>
            <td>{{sufferer.district.districtName}}</td>
            <td>{{sufferer.suffererStatus}}</td>
            <td><button (click) type="button" class="btn btn-dark btn-sm">Detay</button></td>
        </tr>
    </tbody>
  </table>
</div>